*{
    box-sizing: border-box;
    padding: 0;
    font-family: 'Roboto';
}
.top-bar{
    
    color: white;
    position: relative;
    background-color: rgb(116, 150, 255);
    width: 60vw;
    height: 12vh;
    margin: 50px auto;
    padding: 10px;
    border-radius: 15px 50px;
    z-index: 1001;

}
.title, .description{
    line-height: 5px;
}
.title{
    font-size: 1.5rem;
    font-weight: bolder;
    
}
h1{
    float: left;
    margin: 1% 30%;
   
   
}
.icon{
    float: left;
    background-color: white;
    margin-top: 0;
    width: 50px;
    padding: 5px;
    border-radius: 50%;
}
.item-list{
    height: 50vh;
    padding: 0px 0px 0px;
    overflow-y: auto;
   
}

.content{
    box-shadow: 4px 2px 1px 1px rgba(0,0,0, 0.2);
    z-index: 0;
    position: relative;
    flex-direction: row;
    width: 60vw;
    margin: -70px auto;
    border: 1px solid rgba(0,0,0, 0.5);
    border-radius: 15px 50px;
}
.task{
    padding: 0 10px;
    clear: both;
    height: 85px;
    position: relative;
    border: 2px solid rgba(0,0,0,0.5);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    
}
.item-list:nth-child(1){
    border-top: 2px solid rgba(0,0,0,0.5);
    margin: 50px 0px 0px;
}
.task-content{
    float: left;
}
form{
    padding: 5px 10px;
    border-top: 1px solid rgba(0,0,0,0.5);
}
input{
    width: 30%;
    height: 30px;
    margin: 2% 1%;
    padding: 5px;
    border-radius: 5px;

}
button{
    padding: 5px;
    width: 10%;
    border-radius: 5px;
    color: white;
    background-color: rgb(116, 150, 255);
    
}
.text{
    line-height: 10px;
    margin: 0 5px;
    width: 500px;
}
.empty{
    font-size: 20px;
    text-align: center;
}
/* @media only screen and (min-width: 600px) and (max-width: 1024px){
    h1{
        margin: 15px 140px;
    }
    .top-bar,.content{
        width: 550px
    }
} */
@media only screen and (min-width:200px) and (max-width: 599px){
    h1{
        margin: 5px 40px;
    }
    .top-bar,.content{
        width: 300px;

       
    }
    
}
